{% extends "base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}

<script src="{{ asset('assets/home/home.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('/assets/home/home.css')}}">

    <h2>All Podcasts</h2>

        <div class="container">

            <div class="row shows_2_row">

                <div class="col-xl-3 col-md-6">
                    <div class="show">
                        <div class="show_image">
                            <a href="episode.html">
                                <img class="podImg" src="{{ asset('Files/podcastFiles/1.png')}}" alt="https://unsplash.com/@h4rd3n">
                                <div class="show_play_icon"><img src="{{ asset('assets/frontOffice/images/play.svg')}}"></div>
                                <div class="show_title_2">Cras malesuada ipsum sapien.</div>
                            </a>
                            <div class="show_tags">
                                <div class="tags">
                                    <ul class="d-flex flex-row align-items-start justify-content-start">
                                        <li><a href="#">travel</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}