{% extends 'base.html.twig' %}

{% block title %}Account Disabled{% endblock %}

{% block content %}
    <div class="loginform">

        <figure class="image is-128x128 center" style="padding-top: 65px">
            <img style="margin-left: 200%"  src="{{ asset('/assets/donut.png')}}">
        </figure>
        <div class="FormBackground" style="margin-top:80px ">

            <h4 class="title is-3 has-text-white center" style="padding-top: 30px;width: 95%">Welcome {{ app.user.userInfoId.userFirstName }} {{ app.user.userInfoId.userLastName }}your account is disabled if you want to enable it :</h4>
            <a href="{{ path ('active')}}" class="center button is-primary has-text-white logregButt"><strong>Enable your account</strong></a>
        </div>
    </div>

{% endblock %}
