
@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.h1Podcast {
    margin-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    cursor: default;
}

h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 8pt;
    font-weight: 400;
    cursor: default;
}

.h2Pod {
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 300;
    position: absolute;
    color: white;
    cursor: default;
}

.player {
    position: fixed;
    box-shadow: 5px 10px 18px #585858;
    width:70%;
    border-radius: 20px;
    top:200px;
    z-index:999;
    height: 190px;
    background-color: rgba(56,56,56,0.4);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 40px;
    padding-top: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.player ul {
    list-style: none;
}
.player ul li {
    display: inline-block;
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
}
.cover img {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 190px;
    width: 190px;
}
.info h1 {
    margin-top: 15px;
    padding:5px;
    margin-left: 180px;
    line-height: 0;
}
.info h4 {
    margin-bottom: 10px;
    margin-left: 180px;
    line-height: 20px;
    color: white;
}
.info h2 {
    margin-left: 180px;
}

.button-items {
    margin-top: 50px;
    margin-left: 50%;
    width: 100%;
}

#slider {
    width: 300px;
    margin-right:70px;
    height: 4px;
    background: #151518;
    border-radius: 2px;
    /*cursor: pointer;*/
}
#elapsed{
    width:0;
    height: 4px;
    margin-top: 1px;
    background: rgb(24,186,234);
    border-radius: 2px;
}
#timer {
    color: white;
    line-height: 0;
    font-size: 9pt;
    float: right;
    margin-top:-2px;
    font-family: Arial, Sans-Serif;
}

.controls {
    color:white !important;
    font-size:20px;
    text-align:center;
    margin-top: 20px;
}
.controls i:hover{
    cursor: pointer;
    color:rgb(24,186,234);
}


p {
    color: #bdbdbd;
}

.commentsContainer{
    color: white;
    padding: 20px;
    height:100%;

}

.podcastDiv{
    margin-top: -100px;
    padding: 50px;
    overflow: auto;
    border-radius: 20px;
}
.commentsTitle{
    margin-left: -50px;
    margin-top: 80px;
    color:white;
    font-size:150%;
}

.commentInput{
    border: none;
    width: 50%; outline: none;
    color:white;
    margin-top:35px;
    font-size:20px;
    background:transparent;
    border-bottom: 1px solid white;
}
.editText{
    font-size:17px;
    margin-top:0 !important;
    margin-bottom: -1px;
}
/* comments*/
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    transition: all 0.2s ease;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    color: #333;
    background-color: #f4f4f4;
}
.user{
    font-weight: bolder;
    font-size: 20px;
}
.user_avatar {
    float:left;
    margin-right: 20px;
    width: 65px;
    height: 65px;
    display: inline-block;
    vertical-align: middle;
}
.user_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.comment_block {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
}


.commentContainer{
    color: white;
    margin-top: 15px;
    max-width:80% !important;
}
.commentText{
    width:80%;
    word-wrap: break-word;
    background:transparent;
    border: none;
    height: 100%;
    cursor: default;
    color: white;
    font-size:17px;
    resize: none;
}

.comment_tools{
    margin-right: 40px;
    font-size:22px !important;
    float: right;
    width: 200px;
}
.trash{
    float: right;
    margin-top:-25px;
    z-index: 999999;
    cursor:pointer;
}
.trash:hover{
    color: red !important;

}
a{
     text-decoration: none;
    color: white;
 }

.deleteingComment{
    float:right;
    margin-right: 200px;
    display:none;
    color:red;
    font-size: 16px;
}
.fa-calendar{
    margin-right:10px;
}

.podcastTools{

    width:210px;
    padding-top:20px;
    float: right;
}
.toolsTable{
font-size:30px;
text-align: right;
color:white;
width: 100%
}
.toolsTable tr td{
    width: 70px;
}
.fa-heart:hover{
    cursor:pointer;
    font-size:35px;
    color:rgb(24,186,234);
}
.fa-flag:hover{
    cursor:pointer;
    font-size:35px;
    color:red;
}
.fa-star{
    color: white;
}
.fa-star:hover{
    cursor: pointer;
    color: gold;
    font-size:35px;
 }

.fa-edit{
    font-size:25px;
    margin-left: 80px;
}
.fa-edit:hover{
    cursor:pointer;
    color:rgb(24,186,234);
}
.playerSpinner{
    margin-left: 45%;
    width:70px;
    height:70px;
}
.fa-close{
    font-size:17px;
    margin-left:5px;
}

.fa-close:hover{
    font-size:20px;
    cursor:pointer;
    color: greenyellow;
}

.ratingMoy{
    vertical-align:bottom;
    font-size: 18px;
}

.ratingMoyValue{

    color:white;
}

.warningDiv{
    height: 70px;
    font-size: 18px;
    color:red;
    font-weight: bolder;
    padding-top:20px;
}

.carousel-item {
    height: 400px;
    width: 1000px;
    padding-left: 35%;
}
.fileCarousel{

    padding-top: 15%;
}
#podcastSpinner{
    display: none;
margin-left: -45%;color:rgb(24,186,234)
}